.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.display-block {
  display: flex;
}

  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .login-buttons .login-btn {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: rgb(78, 209, 229);
    color: white;
  }
  
  .login-buttons {
    display: flex;              
    flex-direction: column;     
    align-items: center;         
    justify-content: center;     
    gap: 10px;                 
    margin-top: 20px;          
}

.display-none {
  display: none;
}

.modal-main {
  
  background: #1B0140;
  border-radius: 10px;
  padding: 20px;
  width: 750px;
  height: 500px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  z-index: 10; 
}

.modal-serve {
  text-shadow: #9028da;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid white;
  height: 100%;
  width: 500px;
  margin: auto;
  position: relative;
  z-index: 10; 
  box-shadow: 0 0 10px #9028da;
  /* animation: neon-border 0.4s linear infinite;  */
}
 /* 모달창 테두리 애니메이션 */
/* .modal-serve::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 12px; 
  border: 2px solid #F0ECFD;
  box-shadow: 
    0 0 5px #F0ECFD,
    0 0 15px #F0ECFD,
    0 0 25px #F0ECFD;
  z-index: -1; 
}

@keyframes neon-border {
  0% {
    box-shadow: 
      0 0 5px #F0ECFD,
      0 0 15px #F0ECFD,
      0 0 25px #F0ECFD;
  }
  25% {
    box-shadow: 
      5px 0 5px #F0ECFD,
      10px 0 15px #F0ECFD,
      15px 0 25px #F0ECFD;
  }
  50% {
    box-shadow: 
      0 5px 5px #F0ECFD,
      0 10px 15px #F0ECFD,
      0 15px 25px #F0ECFD;
  }
  75% {
    box-shadow: 
      -5px 0 5px #F0ECFD,
      -10px 0 15px #F0ECFD,
      -15px 0 25px #F0ECFD;
  }
  100% {
    box-shadow: 
      0 0 5px #F0ECFD,
      0 0 15px #F0ECFD,
      0 0 25px #F0ECFD;
  }
} */
/* 모달창 테두리 애니메이션 끝*/

.modal img.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; 
}

.close-button {
  position: absolute;
  top: 10px;
  right: 1px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
  z-index: 10;
}

.close-button:hover {
  color: red;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.login-buttons .login-btn {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background: rgb(78, 209, 229);
  color: white;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}
