.singup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; 
}

.display-block {
  display: flex;
}

.display-none {
  display: none;
}

.signup-main {
  background: #1B0140;
  border-radius: 10px;
  padding: 20px;
  width: 750px;
  height: 600px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  
}

.signup-serve{
  backdrop-filter: blur(2px);
  border-radius: 10px;
  width: 490px; 
  height: 480px;
  margin: auto;
  position: relative;
  z-index: 10;
  box-shadow: 0 0 10px #9028da;
  border: 1px solid white;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 1px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.agree{
  box-shadow: 0 0 10px #9028da;
  display: flex; 
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid white;
  width: 90%;
  padding: 10px;
  margin: 10px auto; 
  color: white;
}

.allagree input[type='checkbox'] {
  margin-right: 10px; 
  transform: scale(1.5); 
  
}

.allagree{
  text-align: left;
  padding-right: 70%;
  margin-bottom: 5px;
}

.agree, li {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: left;
  width: 90%;
  margin-bottom: 10px;
}


.heighline{
  border-left : thin solid grey;
  height : 25px;
  margin-right: 20%;
}

.heighline  p{
  font-size: 12px;
  margin: 0;
  color: grey;
  padding-left: 10px;
  
}

.signup-buttons .signup-btn {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  margin: 10px auto; 
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background: rgb(78, 209, 229);
  color: white;
}

.Header-profile .img {
  
  cursor: pointer; /* 커서를 포인터로 변경 */
  transition: transform 0.2s ease; /* 눌림 효과를 위한 부드러운 트랜지션 추가 */
}

.Header-profile .img:active {
  transform: scale(0.95); /* 이미지를 살짝 축소하여 눌리는 효과 */
}